body{
    padding: 0;
    margin: 0;
}

.main .header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  padding-top: 20px;
}

.main .header .right-nav a {
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.main .header .right-nav .get {
  background-color: blue;
  color: #fff;
  border-radius: 40px;
}

.main .values{
  background-color: #f0f0f0;
}

.main .values .cards{
  display: flex;
  justify-content: center;
}

.main .values .cards .card{
  width: 300px;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.main .values .cards .card img{
  width: 300px;
  border-radius: 20px 20px 0 0;
}