p {
  background-color: red;
  color: yellow;
  padding: 20px;
  margin: 25px;
}
#erick {
  background-color: aqua;
  color: darkslategrey;
  padding: 100px;
  margin: 50px;
}

.enock {
  background-color: deeppink;
  color: darksalmon;
  padding: 20px;
  margin: 30px;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.secondparent{
  display: flex;
}
.secondparent>*{
  padding: 10px;
}

.divparent{
  display: flex;
  justify-content: space-between;
}

.parent2{
  display: flex;
}

.parent3{
  display: flex;
  justify-content: space-between;
}

.parent4{
  display: flex;
}

.parent5{
  display: flex;
  justify-content: space-around;
}

.child{
  padding: 10px;
  margin: 10px;
  background-color: aqua;
}

.bigchild{
  padding:30px;
  margin: 10px;
  background-color: aqua;
}

.parent6{
  display: flex;
  justify-content: space-between;
}

.parent7 {
  display: flex;
}